
server {
    listen 80;
    listen [::]:80;
    server_name {{ ansible_nodename }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_tokens off;
    server_name {{ ansible_nodename }};
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    # required: path to certificate and private key
    #ssl_certificate /etc/letsencrypt/live/ec2-3-106-121-30.ap-southeast-2.compute.amazonaws.com/fullchain.pem; # managed by Certbot
    #ssl_certificate_key /etc/letsencrypt/live/ec2-3-106-121-30.ap-southeast-2.compute.amazonaws.com/privkey.pem; # managed by Certbot
    ssl_certificate /etc/ssl/certs/apache-selfsigned.crt;
    ssl_certificate_key /etc/ssl/private/apache-selfsigned.key;


    # required for OCSP stapling, if any of your vhosts don't have this line, you have to inactivate OCSP stapling in ssl.conf
    # ssl_trusted_certificate        /opt/keys/example.com/example.com.unified+root.crt;

    client_max_body_size 50G;

    location / {
        include uwsgi_params;
        uwsgi_pass unix://{{ partner_project_root }}/partner.sock;
        proxy_read_timeout 9000s;
    }

    location /static/ {
       root {{ partner_project_root }}/app;
    }

    # BEGIN restrictions.conf
    # Disable logging for favicon

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    # Deny all attempts to access hidden files such as .htaccess, .htpasswd, .DS_Store (Mac).
    location ~ /\. {
        deny all;
        access_log off;
        log_not_found off;
    }
    # END restrictions.conf


}
